@import '/src/styles/scss/_colors.scss';
@import '/src/styles/scss/_fonts.scss';
@import "/src/styles/scss/_brakepoints.scss";

.burger-menu {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  background-color: $bg-light;
  color: $text-dark;
  box-shadow: 24px 0px 60px rgba(0, 0, 0, 0.39);
  z-index: 10;
  transform: translateX(-120%);
  transition: transform .5s;

  &_show {
    transform: translateX(0%);
  }

  &_active {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: -7px;
      left: 0px;
      height: 2px;
      width: 100%;
      background-color: $third-color;
    }
  }

  &__container {
    height: 100%;
    padding: 31px 38px 100px 112px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-grow: 1;
  }

  &__logo-wrap {
    max-width: 196px;
  }

  &__logo {
    width: 100%;
  }

  &__close {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      width: 25px;
      height: 2px;
      background: $text-dark;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover:before, &:hover:after {
      background: $third-color;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__navigation {
    flex-grow: 3;
  }

  &__phone-wrap {
    display: none;
    margin-top: 175px;
    margin-bottom: 24px;
    flex-grow: 1;
  }

  &__phone {
    @include main-text-bold;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.015em;
    &:hover {
      opacity: 0.7;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__nav-item {
    position: relative;
    margin-bottom: auto;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -7px;
      left: 0px;
      height: 2px;
      width: 0%;
      background-color: $third-color;
      transition: width .5s;
    }

    &:hover:after {
      display: unset;
      width: 100%;
    }
  }

  &__nav-item-link {
    @include main-text-bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-decoration: none;
  }

  &__socials-list {
    display: flex;
    margin-bottom: 53px;
  }

  &__socials-list-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__socials-list-item-link {
    display: block;
    line-height: 1em;
  }

  &__socials-list-item-link svg {
    fill: $third-color;

    &:hover {
      fill: $text-dark;
    }
  }

  &__politic {
    text-decoration: none;
    @include main-text;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: normal;
    margin-top: 53px;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (max-width: $md) {
    width: 100%;

    &__container {
      padding: 31px 38px 60px 112px;
    }

    &__inner {
      padding-top: 0;
    }

    &__phone-wrap {
      margin-top: 41px;
      display: block;
    }

    &__nav-item {
      &:hover:after {
        width: 0%;
      }
    }
  }

  @media (max-width: $sm) {
    &__container {
      padding: 14px 20px 52px;
    }

    &__header {
      flex-grow: 0;
    }

    &__logo-wrap {
      max-width: 117px;
    }

    &__close {
      width: 20px;
      height: 20px;

      &:before, &:after {
        width: 20px;
      }
    }

    &__nav-item-link {
      font-size: 21px;
      line-height: 31px;
    }

    &__socials-list {
      display: flex;
      margin-bottom: 41px;
    }

    &__politic {
      margin-top: 41px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
