@import '/src/styles/scss/_fonts.scss';
@import '/src/styles/scss/_colors.scss';
@import "/src/styles/scss/_brakepoints.scss";

.situation {
  margin-top: 30px;
  margin-bottom: 152px;
  @include main-text-regular;
  font-size: 20.5px;
  letter-spacing: -0.01em;

  .page-padding {
    padding: 0;
  }

  &__header {
    margin-top: 105px;
    margin-bottom: 74px;
    position: relative;
  }

  &__title {
    @include main-text-extra-bold;
    font-size: 55px;
    line-height: 60px;
  }

  &__number {
    position: absolute;
    top: 8px;
    left: -86px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include main-text-bold;
    color: $text-light;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    border-radius: 50%;
    background-color: $third-color;
    width: 50px;
    height: 50px;
    z-index: 0;
  }

  &__text-block {
    margin-bottom: 70px;
  }

  &__inner {
    padding: 33px 20px 45px;
    margin: 0 auto;
    max-width: 985px;
    background-color: $bg-gray;

    &_bg {
      padding-top: 62px;
      background-image: url('/src/images/situation/quotes.svg');
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: no-repeat;
    }
  }

  &__paragraph {
    margin-top: 30px;
  }

  &__subtitle {
    @include main-text-extra-bold-subtitle;
  }

  &__text-el {
    margin-top: 18px;
  }

  &__text-extra-bold {
    font-weight: 800;
  }

  &__text-bold {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }

  &__list-item {
    margin-top: 18px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: $third-color;
    border-radius: 50%;
    margin-left: 5px;
  }

  &__situations-all {
    display: flex;
    align-items: center;
    @include main-text-bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.015em;
    text-decoration: none;
    transform: translateX(0px);
    transition: transform .5s;
  }

  &__arrow {
    position: relative;
    margin-left: 14px;
    width: 34px;
    height: 26px;
    transform: translateX(0px);
    transition: transform .5s;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 34px;
      height: 2px;
      margin-top: -1px;
      background: $third-color;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 14px;
      width: 18px;
      height: 18px;
      border-top: 2px solid $third-color;
      border-right: 2px solid $third-color;
      margin-top: -9px;
      transform: rotate(45deg);
    }
  }

  .situation__situations-all:hover .situation__arrow {
    transform: translateX(11px);
  }

  .situation__situations-all:hover {
    transform: translateX(10px);
  }

  @media (max-width: $xl) {
    .page-padding {
      padding: 0 20px;
    }

    &__header {
      display: flex;
    }

    &__number {
      position: unset;
      margin-right: 11px;
      margin-top: 7px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media (max-width: $sm) {
    @include main-text-regular-sm;
    margin-bottom: 65px;

    &__header {
      margin-top: 68px;
      margin-bottom: 35px;
    }

    &__number {
      @include main-text-bold;
      font-size: 13px;
      line-height: 15px;
      padding-left: 11px;
      padding-right: 11px;
      width: 36px;
      height: 36px;
      margin-top: 0;
    }

    &__title {
      @include main-text-extra-bold-sm;
      font-size: 28px;
      line-height: 30px;
    }

    &__inner {
      padding: 31px 20px 37px;
    }

    &__subtitle {
      @include main-text-extra-bold-subtitle-sm;
    }

    &__text-bold {
      font-weight: 700;
      font-size: 20.5px;
      line-height: 24px;
    }

    &__text-block {
      margin-bottom: 33px;
    }

    &__footer {
      flex-direction: column;
    }

    &__situations-all {
      margin-top: 38px;
      font-size: 20.5px;
      line-height: 26px;
    }

    &__dot {
      width: 5px;
      height: 5px;
      margin-left: 2px;
    }

    &__arrow {
      margin-left: 10px;
      width: 17px;
      height: 14px;

      &::before {
        width: 16px;
      }

      &::after {
        left: 7px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
      }
    }
  }
}
