$bg-dark: #0C0D0F;
$bg-grey: #191A1F;
$bg-light: #FFFFFF;
$bg-gray: #F5F5F5;
$text-light: #FFFFFF;
$text-dark: #191A1F;
$text-light-hover: rgba(255, 255, 255, 0.85);
$third-color: #FFDF00;
$third-color-active: rgba(255, 223, 0, 0.85);
$signature: #616266;
$border-color: #47484D;
$text-grey: #C2C2C2;
$text-error: #FF1D1D;
$disabled: #C7C7C7;




