/* m-plus-1p-regular - latin_cyrillic */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-regular.svg#MPLUS1p') format('svg'); /* Legacy iOS */
}
/* m-plus-1p-500 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-500.svg#MPLUS1p') format('svg'); /* Legacy iOS */
}
/* m-plus-1p-700 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-700.svg#MPLUS1p') format('svg'); /* Legacy iOS */
}
/* m-plus-1p-800 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/M_PLUS_1p/m-plus-1p-v24-latin_cyrillic-800.svg#MPLUS1p') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/Roboto/roboto-v29-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/roboto-v29-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/Roboto/roboto-v29-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/Roboto/roboto-v29-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/Roboto/roboto-v29-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

@mixin main-text {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.01em;
}

@mixin main-text-sm {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

@mixin main-text-extra-bold {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 69px;
}

@mixin main-text-extra-bold-md {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
}

@mixin main-text-extra-bold-sm {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 34px;
}

@mixin main-text-extra-bold-subtitle {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.01em;
}

@mixin main-text-extra-bold-subtitle-sm {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

@mixin main-text-bold {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
}

@mixin main-text-bold-sm {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

@mixin main-text-regular {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
}

@mixin main-text-regular-sm {
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

@mixin second-bold {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

@mixin second-medium {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

@mixin second-regular {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

@mixin second-regular-sm {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.01em;
}

@mixin second-light {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.015em;
}

@mixin second-light-sm {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.015em;
}
